version: '3.9'

services: 
  app:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: mema_app
    ports:
      - '8080:80'
    volumes:
      - ./src:/var/www/html
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    depends_on:
      - database
  database:
    image: mysql:8.0
    container_name: mema_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mema_transfers
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/initdb:/docker-entrypoint-initdb.d
    ports:
      - '3306:3306'
  phpmyadmin:
    image: phpmyadmin:5
    container_name: mema_phpmyadmin
    restart: always
    environment:
      PMA_HOST: database
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - '8081:80'
    depends_on:
      - database
volumes:
  db_data: